<div class = "topnav-fb">

        <a href = "/index">
            <div class = "logo-fb">
                <img src = "common/imgs/rat.png">
                <div class = "title">Lab Rat</div>
            </div>
        </a>

    <div class = "navoptions-fb">
        <a href = "/studentlabs">
            <div class = "nav-item">LABORATORIES</div>
        </a>
        
        <a href = "/studentreservations">
            <div class = "nav-item">MY RESERVATIONS</div>
        </a>
        
        <a href = "/studentprofile">
            <div class = "nav-item">PROFILE</div>
        </a>
        
        <a href = "/logout">
        <div class = "nav-item">LOGOUT</div>
        </a>
    </div>

    <a href = "/studentbook">
        <div class = "book-fb">

            <img src = "https://static-00.iconduck.com/assets.00/calendar-small-icon-931x1024-onc7jpcy.png">
            <div class = "book-text">Book a Workspace</div>
            
    
        </div>
    </a>
    

    </div>