<div class = "outermost-fb">


    {{>studentNav}}

<div class = "home-fb">

    <div class = left-fb>
        <h1>Book a Seat at Our Well-Equipped Computer Laboratories </h1>
        <h1></h1>

        <div class = "homedesc-fb">
            <div class = "item-fb">
                <img src = "common/imgs/freereg.png">
                <div class = "text">Free Registration</div>
            </div>
            <div class = "item-fb">
                <img src = "common/imgs/mouse.png">
                <div class = "text">Secure a workspace in just a few clicks</div>
            </div>
            <div class = "item-fb">
                <img src = "common/imgs/fastcomp.png">
                <div class = "text">High-performance desktops</div>
            </div>
        </div>
        
        <a href = "book.html">
            <div class = "newbook-fb">
                <img src = "common/imgs/book.png">
                </div>
        </a>
        
    </div>

    <div class = "homegif">
        <img src = "common/imgs/homefig.gif">
    </div>
    

    


</div>



</div>


<hr><hr/>