 <div class = "header">

        <div class = "logo-fb">
            <img src = "common/imgs/rat.png">
            <div class = "title">Lab Rat</div>
        </div>

    </div>


    <div class = "login-fb">

        <h1>Welcome to Lab Rat!</h1>
        <div class = "mainbox-fb">
            
            <div class = "input-fb">
                <p>Email</p>
                <input type = "email">
                <br>
                <p>Password</p>
                <input type = "text">
                
            </div>

    </div>
    <br>

    <div class = "buttons-fb">
        <a href = "/index"><button>Login as Student</button></a>
        <a href = "/techindex"><button>Login as Lab Tech</button></a>
    </div>

    
        <div class = "register-button">
            <h2>Don't have an account? Register <a href = "/register">Here!</a> </h2>
        </div>
    </a>
    

</body>
