 <div class = "header">

        <div class = "logo-fb">
            <img src = "common/imgs/rat.png">
            <div class = "title">Lab Rat</div>
        </div>

    </div>


    <div class = "login-fb">

        <form action="/login" method="POST">
            <div class="input-fb">
                <p>Email</p>
                <input type="email" name="email" value="{{email}}" required>
                <br>
                <p>Password</p>
                <input type="password" name="password" required>
                <input type="checkbox" name="remember">
                
            </div>
            <br>
            <button type="submit" class="btn-login">Login</button>
        </form>
        
        
        <br>
        <div class = "register-button">
            <h2>Don't have an account? Register <a href = "/register">Here!</a> </h2>
        </div>
    </a>
        {{#if errors}}
            <ul>
                {{#each errors}}
                    <li>{{this.msg}}</li>
                {{/each}}
            </ul>
        {{/if}}

    </div>
    <br>

    

    
        
    


