<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/path/to/your/css/style.css">
</head>
<body>
    <div class="header">
        <div class="logo-fb">
            <img src="common/imgs/rat.png" alt="Logo">
            <div class="title">Lab Rat</div>
        </div>
    </div>

    <div class="login-fb">
        <form action="/login" method="POST">
            <div class="input-fb">
                <p>Email</p>
                <input type="email" name="email" value="{{email}}" required>
                <br>
                <p>Password</p>
                <input type="password" name="password" required>
            </div>

            <div class="loginbutton-fb">
                <div class="rememberme-fb">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Remember Me</label>
                </div>
                <button type="submit" class="btn-login">Login</button>
            </div>
        </form>

        <br>
        <div class="register-button">
            <h2>Don't have an account? Register <a href="/register">Here!</a></h2>
        </div>

        {{#if errors}}
            <ul class="error-messages">
                {{#each errors}}
                    <b><li>{{this.msg}}</li></b>
                {{/each}}
            </ul>
        {{/if}}
    </div>
    <br>
</body>
</html>
