 {{>studentNav}}

<div class = "outer-fb">
    <div class = "box-fb">

        <p>User does not exist.</p>
        
        <a href = "/studentprofile"><h4>Back to Profile</h4></a>

  </div>
</div>
  