
    <div class = "header">
        <div class = "header">

            <a href = "/login">
                <div class = "logo-fb">
                    <img src = "common/imgs/rat.png">
                    <div class = "title">Lab Rat</div>
                </div>
            </a>
            

        </div>
    </div>

    <div class = "register-fb">

        
        <h1>Become a Lab Rat</h1>
        
        
        <div class = "mainbox-fb">
        
        
        
            <div class = "input-fb">
                <p>Username</p>
                <input type = "text">
                
                <p>Email</p>
                <input type = "email">
                <p>Password</p>
                <input type = "text">
                <p>Re-enter Password</p>
                <input type = "text">
                <br>
                <div class = "type-fb">
                    
                    
                </div>
                
                
            </div>

            
            


    </div>
    <br>
    
        
    
    <div class = "buttons-fb">
        
        <a href = "/techindex"><p>Create Lab Tech Account</p></a>
        <a href = "/index"><p>Create Student Account</p></a>
        
         
    </div>

    
    




