<div class="header">
    <div class="header">
        <a href="/">
            <div class="logo-fb">
                <img src="common/imgs/rat.png" alt="Lab Rat Logo">
                <div class="title">Lab Rat</div>
            </div>
        </a>
    </div>
</div>

<div class="register-fb">
    <h1>Become a Lab Rat</h1>
    <div class="mainbox-fb">
        <form action="/register" method="POST">
            <div class="input-fb">
                <p>Username</p>
                <input type="text" name="username" required>
                
                <p>Email</p>
                <input type="email" name="email" required>
                
                <p>Password</p>
                <input type="password" name="password" required>
                
                <p>Re-enter Password</p>
                <input type="password" name="password2" required>

                <p>User Type</p>
                <select name="usertype" required>
                    <option value="student">Student</option>
                    <option value="labTech">Lab Technician</option>
                </select>
                
                <br>
            </div>
            <br>
            
                <button type="submit" class="create-acc">Create Account</button>
            
        </form>
    </div>
    {{#if errors}}
        <ul>
            {{#each errors}}
                <li>{{this.msg}}</li>
            {{/each}}
        </ul>
    {{/if}}
</div>
