 {{>studentNav}}

<h1>Edit Profile</h1>

<div class = "outer-fb">
   <div class = "editbox-fb">
      <div class = "input-fb">
            <label for="username">Edit Username:</label>
            <input type="text" id="username" value="{{ username }}">
      </div><Br>
      

      <div class = "input-fb">
            <label for="username">Edit Description:</label>
         <input type="text" id="desc" value="{{ desc }}">
      </div><Br>

      <div class = "input-fb">
            <label for="username">Edit Profile Picture Link:</label>
            <input type="text" id="username" value="{{ pfp }}">
      </div><Br> 

   <div class = buttons-fb>
            <a href = "/studentprofile">Back to Profile</a>
            <button type = "submit">Save Changes</button>
   </div>


   </div>
</div>
 
