
    {{>studentNav}}

    <h1>Book a Workspace</h1>

    <div class="datetimelab-fb">

        <div class = "date">
        <label for="dateInput">Date:</label>
        <input type="date" id="dateInput">
        </div>
        
        <div class="time">
            <label for="timeFromDropdown">From:</label>
            <select id="timeFromDropdown">
                <option value="07:00">07:00 AM</option>
                <option value="07:30">07:30 AM</option>
                <option value="08:00">08:00 AM</option>
                <option value="08:30">08:30 AM</option>
                <option value="09:00">09:00 AM</option>
                <option value="09:30">09:30 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="12:00">12:00 PM</option>
                <option value="12:30">12:30 PM</option>
                <option value="13:00">01:00 PM</option>
                <option value="13:30">01:30 PM</option>
                <option value="14:00">02:00 PM</option>
                <option value="14:30">02:30 PM</option>
                <option value="15:00">03:00 PM</option>
                <option value="15:30">03:30 PM</option>
                <option value="16:00">04:00 PM</option>
                <option value="16:30">04:30 PM</option>
                <option value="17:00">05:00 PM</option>
                <option value="17:30">05:30 PM</option>
                <option value="18:00">06:00 PM</option>
                <option value="18:30">06:30 PM</option>
                <option value="19:00">07:00 PM</option>
                <option value="19:30">07:30 PM</option>
                <option value="20:00">08:00 PM</option>
                <option value="20:30">08:30 PM</option>
                <option value="21:00">09:00 PM</option>
            </select>
        </div>
        
        <div class="time">
            <label for="timeToDropdown">To:</label>
            <select id="timeToDropdown">
                <option value="07:00">07:00 AM</option>
                <option value="07:30">07:30 AM</option>
                <option value="08:00">08:00 AM</option>
                <option value="08:30">08:30 AM</option>
                <option value="09:00">09:00 AM</option>
                <option value="09:30">09:30 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="12:00">12:00 PM</option>
                <option value="12:30">12:30 PM</option>
                <option value="13:00">01:00 PM</option>
                <option value="13:30">01:30 PM</option>
                <option value="14:00">02:00 PM</option>
                <option value="14:30">02:30 PM</option>
                <option value="15:00">03:00 PM</option>
                <option value="15:30">03:30 PM</option>
                <option value="16:00">04:00 PM</option>
                <option value="16:30">04:30 PM</option>
                <option value="17:00">05:00 PM</option>
                <option value="17:30">05:30 PM</option>
                <option value="18:00">06:00 PM</option>
                <option value="18:30">06:30 PM</option>
                <option value="19:00">07:00 PM</option>
                <option value="19:30">07:30 PM</option>
                <option value="20:00">08:00 PM</option>
                <option value="20:30">08:30 PM</option>
                <option value="21:00">09:00 PM</option>
            </select>
        </div>
      
        <div class="dropdown">
          <label for="labNumber">Lab Number:</label>
          <select id="labNumber">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      
      </div>

    
      <div class = "mainbox-fb">

        <h2>Select Seats to Reserve</h2>
        <div class = "seats-grid">
            <button class="seat" id ="seat1">1</button>
            <button class="seat" id="seat2">2</button>
            <button class="seat" id="seat3">3</button>
            <button class="seat">4</button>
            <button class="seat">5</button>
            <button class="seat">6</button>
            <button class="seat">7</button>
            <button class="seat">8</button>
            <button class="seat">9</button>
            <button class="seat">10</button>
        </div>

        <label><input type = "checkbox">Anonymous Reservation</label><br>
        
        <button class = "submit"><b>Submit Reservation</b></button>

      </div>

      

