    <div class = "outermost-fb">
    
        {{>techNav}}
    
        

        <div class="main">
        <h1>My Reservations</h1>
        
        <div class="reservations-grid">
            <div class="reservation" id="item1">
              
                <div class = info-fb>

                    <p>Lab Number: 1</p>
                    <p>Seat Number: 2</p>
                    <p>Date: 06/11/2024 </p>
                    <p>From: 13:00:00 </p>
                    <p>To: 14:30:00 </p>
                    <p>Date Reserved: 05/25/2024</p>
                    

                    <div class = "buttons-fb">

                        <h2>Edit</h2>
                        <h2>Cancel</h2>

                    </div>
                </div>

            </div>

            <div class="reservation" id="item2">
                <div class = info-fb>

                    <p>Lab Number: 3</p>
                    <p>Seat Number: 1</p>
                    <p>Date: 06/15/2024 </p>
                    <p>From: 16:00:00 </p>
                    <p>To: 17:30:00 </p>
                    <p>Date Reserved: 06/01/2024</p>
                    

                    <div class = "buttons-fb">

                        <h2>Edit</h2>
                        <h2>Cancel</h2>

                    </div>
                </div>

            </div>
            

            

            

            
                    

                    
                </div>
            </div>

          </div>
        </div>
    </div>