body{
    background-color: #194E48;
    border-style: hidden hidden solid hidden;
    border-color: white;
    border-width: 1px;
    padding-bottom: 30px;
    margin: 0px;
}

.header{
    
    border-bottom: white;
    border-style: hidden hidden solid hidden;
    border-width: 0.1px;
    width: 100%;
}

.logo-fb{
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    font-family: Roboto;
    color: white;
    gap: 10px;
    justify-content: center;
}

.logo-fb div{
    padding-top: 5px;
    font-size: 45px;
    font-weight: 700;
}

.header img{
    height: 50px;
}

.login-fb {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.login-fb h2{
    font-family: Open Sans;
    color: white;
}

form{
    border-style: solid;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-width: 10px;
    border-radius: 10px;
    background-color: #B3D337;
    justify-content: center;
    border-color:#B3D337;
    align-items: center;
    padding-bottom: 2vh;
    
}

.input-fb{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.input-fb p{
    margin-bottom: 1px;
    font-size: 18px;
    font-family: IBM Plex Sans;
}   

input {
    margin-top: 1px;
    height: 20px;
    width: 200px;
}

button{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border-color: gray;
    border-style: solid;
    text-align: center;
    font-family: IBM Plex Sans;
    font-size: 18px;
}

button:hover{
    background-color:gray;
    border-color: gray;
    cursor: pointer;
}

h2{
    font-size: 18px;
}

h1{
    font-family: Roboto;
    color: white;
}

.register-button a{
    color:#B3D337;
}

a {
    text-decoration: none;
    color:#B3D337;
}

a :hover{
    color: gray;
    cursor: pointer;
}

.rememberme-fb{
    display: flex;
    
}

.rememberme-fb input{
    width:30px;
    margin: 0px;
}

.rememberme-fb label{
    font-family: IBM Plex Sans;
}

.loginbutton-fb{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.error-messages {
    color: white;
    font-size: 18px;
    font-family: IBM Plex Sans;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    list-style-type: none; /* Remove default list styling */
}

.error-messages li {
    margin-bottom: 5px; /* Add some space between error messages */
}